body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    background-image: url('assets/bletka-grafika.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    position: relative;
}

.scene img {
    position: absolute;
}

.img1 {
    transform: rotate(0deg);
    animation: rotateImg 2s ease-in-out infinite alternate;
}

@keyframes rotateImg {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.img2 {
    animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        top: 5vh;
    }

    100% {
        top: 6vh;
    }
}

.img3 {
    transform: rotate(0deg);
    animation: rotateImg2 1s ease-in-out infinite alternate;
}

@keyframes rotateImg2 {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.img5 {
    right: 30vw;
    top: 10vh;
    animation: moveLeftRight 1s ease-in-out infinite alternate;
}

@keyframes moveLeftRight {
    0% {
        right: 35vw;
    }

    100% {
        right: 40vw;
    }
}

.img6 {
    animation: moveLeftToRight 4s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        right: 20vw;
    }

    50% {
        right: 40vw;
    }

    100% {
        right: 20vw;
    }
}

.rotate {
    transform: rotate(0deg);
    animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
    100% {
        transform: rotate(360deg);
    }
}

/* Adjust position for each image */
.scene img:nth-child(1) {
    right: 20vw;
}

.scene img:nth-child(2) {
    left: 15vw;
    top: 5vh;
}

.scene img:nth-child(4) {
    right: 5vw;
    top: 4vh;
}

.scene img:nth-child(5) {
    right: 30vw;
    top: 10vh;
}

.scene img:nth-child(6) {
    right: 15vw;
    top: 6vh;
}

.scene img:nth-child(7) {
    bottom: 15vh;
    right: 10vw;
}

.scene img:nth-child(8) {
    bottom: 13vh;
    left: 20vw;
}

.scene img:nth-child(9) {
    left: 25vw;
    bottom: 1vh;
}

.img10 {
    bottom: 4vh;
    left: -15vw;
}

.img11 {
    bottom: 3vh;
    left: 5vw;
}

/* Add positions for more images as needed */
